.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://i3.kym-cdn.com/photos/images/original/000/916/753/1a1.jpg');
  height: 500px;
  width: 500px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.tales {
  background-color: #f7f7f7;
}

.tales h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.tales a {
  color: #00b0ff;
}

div {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#signup {
  background-color:#FF0000;
}

#login {
  background-color:#0000FF;
}
